
data/temp.csv
data/temp1.csv
Fire-sites/fire-buffer-1km-disk.sbx
*.aprx
*.cpg
*.dbf
*.prj
*.sbn
*.shp
*.lock
*.shx
*.sbx
*.xml
*.xlsx
*.freelist
*.gdbtable
*.gdbindexes
*.gdbtablx
*.atx
*.horizon
*.spx
Fire-sites/Fire-sites.gdb/gdb
*.tbx
*.cfs
Fire-sites/Fire-sites.gdb/timestamps
*.gen
*.del
Fire-sites/Index/Fire-sites/segments_3
*.jpg
Fire-sites/Index/Thumbnail/indx
*.tif
*.tiff
*.zip
thesis/tables.docx
thesis/appendix/species_list.docx
data/0272564-210914110416597/0272564-210914110416597.csv
data/archive/endangered-sp-2022-01_0117084-210914110416597/0117084-210914110416597.csv
data/archive/plants-2022/0137326-210914110416597/0137326-210914110416597.csv
