
data/temp.csv
data/temp1.csv
Fire-sites/fire-buffer-1km-disk.sbx
*.aprx
*.cpg
*.dbf
*.prj
*.sbn
*.shp
*.lock
*.shx
*.sbx
*.xml
*.xlsx
*.freelist
*.gdbtable
*.gdbindexes
*.gdbtablx
*.atx
*.horizon
*.spx
Fire-sites/Fire-sites.gdb/gdb
*.tbx
*.cfs
Fire-sites/Fire-sites.gdb/timestamps
*.gen
*.del
Fire-sites/Index/Fire-sites/segments_3
*.jpg
Fire-sites/Index/Thumbnail/indx
